body{
    direction: rtl;
    unicode-bidi: embed;
}

.owl-carousel, #product-carousel,
#product-carousel .slides > li,
.owl-carousel-container,
.rev_slider_wrapper,
.owl-carousel .owl-nav,
#gallery .owl_custom_buttons,
.widget_instagram{
    direction: ltr;
}

.owl-carousel .owl-item,
.owl-controls{
    direction: rtl;
}

.align_left,
.header_info_section > [class*="head_"],
.sub_menu_wrap,
[class*="mad_pattern"] [class*="icon-"],
.tabs.vertical > .tabs_nav li a, 
.tabs.vertical.vertical_style2 .tabs_nav li a,
input, 
textarea,
.widget_quote.style2 blockquote,
.mad_time_list ul li .form-elements label,
table tr th, table tr td,
.category_isotope_item.list_view_type .mad_gallery_item .mad_gallery_text,
.c_info_list .contact_item p, 
.c_info_list .contact_item a,
.shopping_cart,
#footer .widget .widget_title{
    text-align: right;
}

.align_right,
#header.header-main .header_info_section,
.mad_menu_button_wrap{
    text-align: left;
}

.f_right,
.a_title span,
#helpdeskform .app_nav_buttons .app_next,
.close,
.widget_categories > ul > li > a span,
.mad_post_comment .post_author a, 
.mad_post_comment .post_author .rating_list{
    float: left;
}

.f_left,
#main_navigation > ul > li,
.tabs_nav,
.tabs.vertical > .tabs_content,
.tabs_nav li,
#progressbar li,
#helpdeskform .app_nav_buttons .app_prev,
.default_list_numb li span,
.form_type_1 .control-group .control-label,
[class*="first_letter_"] > span,
.mad_blog_post .mad_post_content .mad_post_date,
.mad_post_section .mad_post_item figure,
.widget_link .icon_link,
.rating_list li,
.mad_product_list ul > li figure,
.category_isotope_item.list_view_type .mad_gallery_item .mad_item_hover,
.c_info_list .contact_item i,
.mad_justify_list ul > li .mad_left_part{
    float: right;
}

#gallery .owl_custom_buttons,
#blog .owl_custom_buttons,
.custom_select .select_title:before,
.searchform_wrap form button,
.shopping_cart,
.close_product,
#header.header_3 .nav_item .mad_page_options,
.mad_info_list > ul > li:not(:last-child):after{
    right: auto;
    left: 0;
}

#header .header_info_section .head_phone .icon_mobile:before, 
#header .header_info_section .head_socials .icon_location:before,
.mad_nav_list ul > li > a:before,
.mad_banner_1 [class*="icon-"]:before,
.tabs.style2 .tabs_nav > li > a:before, 
.tabs.vertical.style2 .tabs_nav > li > a:before,
.progress_bar > div{
    left: auto;
    right: 0;
}

#about .mad_section .section_image, 
#services3.mad_section .section_image{
    margin-top: 0;
}

#footer .widget_post .mad_post_section .mad_post_item .post_text_block{
    padding-left: 0;
    padding-right: 20px;
}

.close_search_form{
    right: auto;
    left: 25px;
}

#header.header_3 .mad_pre_header .mad_info_list > ul > li > p:before, 
#header.header_3 .mad_pre_header .mad_info_list > ul > li > p a:before{
    margin-right: 0;
    margin-left: 10px;
}

.mad_info_list > ul > li:not(:last-child){
    margin-right: 0;
    margin-left: 15px;
    padding-right: 0;
    padding-left: 25px;
}

.products_list ul li .product_description a{padding: 0 0 10px 20px;}

#index .header_2 #main_navigation > ul > li, 
#index .header_3 #main_navigation > ul > li{
    margin-left: 30px;
}

#header.header_2 #main_navigation > ul > li:last-child,
#header.header_3 #main_navigation > ul > li:last-child{
    margin-left: 0;
}

.header_2 .mad_page_options .mad_option_button > button:before, 
.header_2 .mad_page_options .mad_option_button .serch_button_wrap button:before{
    margin-right: 0;
    margin-left: 10px;
}

.mad_order_list .table_type_1.var2 tr th, 
.mad_order_list .table_type_1.var2 tr td:not(:last-child){
    border-right: 1px solid #eee;
}

.c_info_list .contact_item p, 
.c_info_list .contact_item a{
    padding-left: 0;
    padding-right: 35px;
}

.c_info_list .contact_item p a{padding-right: 0;}

.table_type_1 tr td.payment span:before{
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 10px;
}

.product_name a{
    padding-left: 0;
    padding-right: 20px;
}

.mad_tag_list.social a:before{
    margin-right: 0;
    margin-left: 5px;
}

.mad_tag_list.social a,
.mad_rating_var .rating_list{
    margin-left: 0;
    margin-right: 15px;
}

.products_list ul li img{
    margin-right: 0;
    margin-left: 20px;
}

.category_isotope_item.list_view_type .mad_gallery_item{
    border: 1px solid #eeeeee;
    border-right: none;
}

.mad_post_comment{
    padding: 30px 80px 30px 30px;
    margin-left: 0;
    margin-right: 50px;
}

.mad_post_comment .mad_post_author{
    left: auto;
    right: calc(0px - 50px);
}

.mad_post_comment.comment_level_2{
    margin-left: 0;
    margin-right: 100px;
}

.mad_post_nav .mad_post_options a:before, 
.mad_post_dir .prev_post:before, .mad_post_dir .next_post:after{
    margin-right: 0;
    margin-left: 10px;
}

.mad_post_dir .next_post:after{
    margin-right: 10px;
    margin-left: 0;
}

.mad_post_dir > .next_post:after{content: '\ec02';}

.mad_post_dir > .prev_post:before{content: '\ec03';}

.widget_link .icon_link,
.mad_product_list ul > li figure,
.mad_page_options .mad_option_button:not(:last-child){
    margin-right: 0!important;
    margin-left: 20px;
}

.mad_layout_buttons button:last-child{
    margin-left: 0;
    margin-right: 20px;
}

.mad_sort_categories .custom_select:nth-child(n+2){
    margin-left: 0;
    margin-right: 25px;
}

.mad_blog_post .mad_post_content .mad_post_date{
    margin-right: 0;
    margin-left: 30px;
}

.tabs_sort #options button{
    margin-right: 0;
    margin-left: 70px;
}

.tabs_sort #options button:last-child{margin-left: 0;}

.first_letter_2 > span,
.first_letter_1 > span{
    margin-right: 0;
    margin-left: 10px;
}

input[type="checkbox"] + label:before{
    margin-right: 0;
    margin-left: 9px;
}

.table_type_1 tr td{border-left: 1px solid #eee;}

.form_type_1.type_2 .control-label, 
.form_type_1.type_2 .control-group.form-elements span{
    float: none;
}

.form_type_1 .control-group.form-elements label:last-child{
    margin-left: 0;
    margin-right: 20px;
}

input[type="checkbox"] + label:after{
    left: auto;
    right: 6px;
}

.alert{
    padding-left: 20px;
    padding-right: 30px;
}

.default_list_numb li span{
    padding-right: 0;
    padding-left: 15px;
}

.close{
    padding-left: 0;
    padding-right: 5px;
}

.default_list_dir li:before{content: '\e8e4';}

.default_list_arrow li:before{content: '\e8de';}

[class*="default_list_"] li:before{
    margin-right: 0;
    margin-left: 15px;
}

.mad_item_list.style3 > ul{
    margin-right: 0;
    margin-left: -55px;
}

.mad_item_list.style3 > ul > li{
    margin-right: 0;
    margin-left: 50px;
}

.img_align_left{
    float: right;
    margin-right: 0;
    margin-left: 30px;
}

.img_align_right{
    float: left;
    margin-right: 30px;
    margin-left: 0;
}

.tabs.vertical > .tabs_nav{
    margin-right: 0;
    margin-left: -1px;
}

.tabs.vertical.style2 .tabs_nav > li.ui-tabs-active a{
    -moz-box-shadow: 5px -5px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 5px -5px 10px 0px rgba(0, 0, 0, 0.1);
}

.tabs.vertical.style2 .tabs_nav > li.ui-tabs-active a{
    border-left-color: transparent;
}

.phone_select.custom_select .select_title:before{
    left: auto;
    right: 50px;
}

.mad_banner_1 [class*="icon-"]{
    padding-left: 0;
    padding-right: 60px;
}

.phone_select.custom_select .select_title:after{
    left: auto;
    right: 20px;
}

.phone_select.custom_select .select_title, .phone_select.custom_select .select_list li{
    padding-left: 20px;
    padding-right: 75px;
}

#helpdeskform .field .mad_vertical_list ul > li .form-elements label i{
    padding-left: 0;
    padding-right: 10px;
}

input[type="radio"] + label{
    padding-left: 0;
    padding-right: 30px;
}

input[type="radio"] + label:after, input[type="radio"] + label:before{
    left: auto;
    right: 0;
}

input[type="radio"] + label:after{
    left: auto;
    right: 4px;
}

.mad_time_list ul li .form-elements label{
    padding-left: 20px;
    padding-right: 70px;
}

.mad_time_list ul li .form-elements label:before{
    left: auto;
    right: 40px;
}

.mad_time_list ul li .form-elements label:after{
    left: auto;
    right: 44px;
}

#progressbar li:not(:last-child){
    padding-right: 0;
    padding-left: 5px;
}

.social_icon_list.style2 ul li:not(:last-child){
    margin-right: 0;
    margin-left: 15px;
}

.owl_custom_buttons .f_left .button_text_title h5{
    margin-left: 0;
    margin-right: 15px;
}

.owl_custom_buttons .f_right .button_text_title h5{
    margin-left: 15px;
    margin-right: 0;
}

.owl_custom_buttons .f_left .mad_owl_prev:before{content: '\e8e5';}

.owl_custom_buttons .f_right .mad_owl_next:before{content: '\e8e4';}

.mad_pagination_section a:not(:last-child){
    margin-right: 0;
    margin-left: 5px;
}

.mad_pagination_section .icon-left-open-1:before{content: '\eab4';}

.mad_pagination_section .icon-right-open-1:before{content: '\eab3';}

.tabs.vertical.vertical_style2 .tabs_content{
    padding-left: 0;
    padding-right: 26%;
}

.mad_smooth_list .smooth_item .smooth_item_details .item_title > div .days:before{
    margin-right: 0;
    margin-left: 10px;
}

.mad_smooth_list .smooth_item figure{
    float: right;
    margin-right: 0;
    margin-left: 30px;
}

.go-to-top.go-top-visible{
    right: auto;
    left: 30px;
}

.mad_page_title .mad_breadcrumbs > nav a{
    margin-right: 0;
    margin-left: 20px;
}

.mad_page_title .mad_breadcrumbs > nav a:after{
    right: auto;
    left: calc(0px - 10px);
}

.custom_select .select_title{
    padding-left: 50px;
    padding-right: 20px;
}

.mad_contact_items .social_icon_list ul li{margin-left: 0!important;}

#news .full_width_bg_pattern figure{
    left: auto;
    right: -160px;
}

.item_overlay .text_holder a[class*="mad_icon"]:nth-child(n+2){
    margin-left: 0;
    margin-right: 20px;
}

.tabs_nav li:not(first-child) a{border-width: 1px 0px 1px 1px!important;}

.a_title:before{
    border-left: 1px solid #eeeeee;
    border-right: none;
}

.mad_nav_list ul > li:not(:last-child) > a:after{
    margin-left: 0;
    margin-right: 10px;
}

.mad_post_action .date:before, 
.mad_post_action .comment:before, 
.mad_post_date .date:before, 
.mad_post_action .admin:before, 
.mad_post_action .days:before,
.mad_nav_list ul > li:not(:last-child){
    margin-right: 0;
    margin-left: 10px;
}

.tabs.vertical > .tabs_nav > li > a[class*="icon-"]:before,
.a_title:before,
.mad_post_action a:not(:last-child){
    margin-right: 0;
    margin-left: 20px;
}

.accordion .a_title{
    padding-right: 0;
    padding-left: 20px;
}

#about.mad_section .section_image, #services3.mad_section .section_image{margin-top: 0;}

.carousel_type_2 .owl-carousel .owl-nav{
    right: auto;
    left: 15px;
}

.carousel_type_1 .owl-dot:not(:last-child){
    margin-right: 0;
    margin-left: 5px;
}

.mad_author.style2 span{
    padding-left: 0;
    padding-right: 15px;
}

#header.header-main .header_info_section > [class*="head_"]:last-child{
    margin-left: 0;
    margin-right: 70px;
}

#header .header_info_section .head_phone .icon_mobile, 
#header .header_info_section .head_socials .icon_location{
    padding-left: 0;
    padding-right: 35px;
}

.social_icon_list ul li:not(:last-child){
    margin-right: 0;
    margin-left: 5px;
}

#main_navigation > ul > li.drop > a:after{
    margin-left: 0;
    margin-right: 7px;
}

.sub_menu_wrap ul li.sub > a:after{
    right: auto;
    left: 10px;
    content: '\e8e4';
}

.sub_menu_wrap .sub_menu_wrap{
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: -20px;

    -webkit-transform-origin: 100%;
    -moz-transform-origin: 100%;
    -ms-transform-origin: 100%;
    -o-transform-origin: 100%;
    transform-origin: 100%;
}

#main_navigation > ul > li{
    margin-right: 0!important;
    margin-left: 35px;
}

#main_navigation > ul > li:last-child{margin-left: 0;}

#wrapper #advanced-menu-hide{
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}

.widget_search form button{
    right: auto;
    left: 15px;
}

@media only screen and (max-width: 1281px){
    
    .main_navigation > ul > li:nth-child(5) .sub_menu_wrap .sub_menu_wrap{
        left: 100%;
        right: auto;
        margin-left: -20px;
        margin-right: 0;

        -webkit-transform-origin: 0 100%;
        -moz-transform-origin: 100%;
        -ms-transform-origin: 100%;
        -o-transform-origin: 100%;
        transform-origin: 0 100%;
    }

}

@media only screen and (min-width:1199px){

    [class*="col-lg-"]{
        float:right;
    }

}

@media (max-width: 1199px) and (min-width: 992px){

    #header.header_2 #main_navigation > ul > li:not(:last-child){margin-left: 15px;}

}

@media only screen and (max-width:992px){

    .tabs_sort #options button{margin-left: 35px;}

    .align_right, 
    #header.header-main .header_info_section{
        text-align: center;
    }

    .mobile-advanced ul ul li > a{
        padding-left: 0;
        padding-right: 30px;
    }

    #advanced-menu-hide{
        right: auto;
        left: 30px;
    }

    .mobile-advanced ul ul li > a:before{
        margin-right: 0;
        margin-left: 10px;
        content: "\e8e4";
    }

    .mobile-advanced ul ul ul li > a{
        padding-left: 0;
        padding-right: 55px;
    }

    .section_image.align_center, 
    .section_image.align_right,
    .mad_section .section_image.align_right, 
    .mad_section .section_image.align_center{
        text-align: right;
    }

    .tabs.vertical.vertical_style2 .tabs_content{padding-right: 0;}

}

@media (min-width: 992px){

    [class*="col-md-"]{
        float:right;
    }

}

@media (max-width: 767px){

    #header.header-main .header_info_section > [class*="head_"]:last-child{margin-right: 0;}

}

@media only screen and (min-width:768px){

    [class*="col-sm-"]{
        float:right;
    }

}

@media only screen and (max-width: 480px){

    .mad_menu_button_wrap, 
    #header.header_2 .menu_wrap .nav_item{
        text-align: center;
    }

    .a_title:before{margin-left: 10px;}

    .accordion .a_title{padding-left: 10px;}

    .mad_smooth_list .smooth_item figure{
        float: none;
        margin-right: 0;
    }

}

@media only screen and (min-width: 480px){

    [class*="col-xs-"]{
        float:right;
    }

    .a_title:before{margin-left: 10px;}

    .accordion .a_title{padding-left: 10px;}

}